 #map {
  flex: 1;
  height: 400px;
  width: 50%;
  background: #0000FF;
  border: 2px solid #0000FF; 
  }

#main-container {
    display: flex; 
}
  
#info-container {
    flex: 1;
    width: 50%;
    background: #90EE90; 
    padding: 10px; 
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}